@font-face {
  font-family: "rawgly"; /* 👈 name you’ll use in CSS */
  src: url("./fonts/RawglyRegular-MVyWP.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h3 {
  color: #333333;
  font-family: rawgly;
  font-size: 30px;
}

p {
  color: #333333;
  font-family: rawgly;
  font-size: 15px;
}

.navigation{
z-index: 4;
display: flex;
flex-direction: column;

}

.nav-item{
  height: 40px;
  margin: 1px;
  align-content: center;
  gap: 0px;
}

.nav-item:hover {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-item:hover::before {
  content: "-";
  /* margin-left: 5px; */
  transition: all 0.3s ease;
}

.wrapper {
  display: grid;
  grid-template-columns:17% 50% 33%;
  height: 100vh;
  background: hsla(38, 69%, 51%, 1);

  background:  radial-gradient(circle, hsla(50, 11%, 89%, 1) 0%, hsla(104, 17%, 68%, 1) 98%);

  border-radius: 24px;
  overflow: hidden;
}

.left_coln {
  display: grid;

  justify-content: space-between;

  align-content: space-between;
  margin-top: 30px;
  margin-left: 90px;
}




html,
body {
  background-color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  border: 1px dashed crimson;
}












/*

background: hsla(50, 11%, 89%, 1);

background: radial-gradient(circle, hsla(50, 11%, 89%, 1) 0%, hsla(104, 17%, 68%, 1) 98%);

background: -moz-radial-gradient(circle, hsla(50, 11%, 89%, 1) 0%, hsla(104, 17%, 68%, 1) 98%);

background: -webkit-radial-gradient(circle, hsla(50, 11%, 89%, 1) 0%, hsla(104, 17%, 68%, 1) 98%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E7E6E1", endColorstr="#A8BCA1", GradientType=1 );

Font Color: Deep charcoal #333333







background: hsla(34, 43%, 84%, 1);

background: radial-gradient(circle, hsla(34, 43%, 84%, 1) 0%, hsla(36, 40%, 63%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(34, 43%, 84%, 1) 0%, hsla(36, 40%, 63%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(34, 43%, 84%, 1) 0%, hsla(36, 40%, 63%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E8D9C5", endColorstr="#C7A87B", GradientType=1 );

Font Color: Dark brown #3E2C23






background: hsla(143, 16%, 29%, 1);

background: radial-gradient(circle, hsla(143, 16%, 29%, 1) 0%, hsla(187, 22%, 15%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(143, 16%, 29%, 1) 0%, hsla(187, 22%, 15%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(143, 16%, 29%, 1) 0%, hsla(187, 22%, 15%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3E5647", endColorstr="#1E2D2F", GradientType=1 );

Font Color: Light cream #F8F6F0
















*/